@import "@/styles/base/index.css";

.main_container {
  padding: 0 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  height: calc(100vh - 80px);
}

.nav_container {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  min-width: 10rem;
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
  
  h2 {
    font-size: 1rem;
  }

  ul {
    display: flex;
    flex-flow: column;
    gap: 0.2rem;

    li:hover {
      cursor: pointer;
    }
  };
}