@import "@/styles/base/index.css";

.login {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-16);
  width: 20rem;
  margin: 0 auto;
}

.login_header {
  text-align: center;
}

.login_container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-16);
  padding: var(--spacing-16);
  border: 1px solid var(--gray-200);
  border-radius: var(--spacing-8);
  background-color: var(--background);
}

.input_container{
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-8);
}

.input_content {
  display: flex;
  align-items: center;
  position: relative;
}

.button_delete {
  display: none;
  position: absolute;
  right: 0;
  margin: 0 var(--spacing-8);

  &.is-active {
    display: block;
  }
}

.login_container_sub {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: var(--spacing-24);
  padding: var(--spacing-16);
  border: 1px solid var(--gray-200);
  border-radius: var(--spacing-8);
  font-size: var(--textsize-14);
}

.login_error {
  display: none;
  padding: 0 var(--spacing-4);
  color: red;
  font-size: var(--spacing-12);

  &.is-invalid {
    display: block;
  }
}
