:root {
  --base-font-family: "Pretendard Variable", sans-serif;

  --gray-100: #e1e1e1;
  --gray-200: #c4c4c4;
  --gray-300: #a6a6a6;
  --gray-400: #b6b7b4;
  --gray-500: #969a9d;
  --gray-600: #a9adb1;
  --gray-700: #404040;
  --gray-800: #2b2b2b;
}
